body{background-color: #FFF5D0;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    color: #061511;
    font-family: 'tomorow';
    font-size: 18px;
    max-width: 100%;
   
}

h1{font-family: 'jost';
    font-size: 1.5em;
    text-align: left;
    margin-top: 1.2em;
    margin-bottom: 1.2em;}

h2{font-family: 'jost';
    padding-left: 5em;
    font-size: 1.2em;}

a{color: #061511;
        text-decoration: none;}
section{width: 100%;
        padding: 120px 140px;}


button {background-color: #FFE500;
        border-radius: 8px;
        padding: 6px 20px 6px 20px;
        height:18px; 
        width:125px;
        font-size: 15px;
        text-align: center;}


.menu{padding: 0px 40px ;
    font-family: 'tomorow-thin', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}
    #search { border-radius: 8px;
        border-color: #55701C;}


.hero {width: 100%;
        background-color: #B0E246;
        display: flex;
        flex-direction: row;
        gap:60px}
        #hero-left{width: 100%;}
        #hero-right{width: 100%;}
        .Cassé {
        position: absolute;
        width:225px ;
        font-family:'jost' ;
        font-size: 1.5em;
        background-color:#18A0FB;
        color: #061511;
        transform: rotate(-4.5deg);}  
        .labelmobile{background-color:#D9F7FA;
            height: 4%;
            }      
        #bero {margin-top: 2em;
            position: inherit;
            margin-bottom: 2em;}
        #qualiRepar {padding: 20px;
            background-color: #D9F7FA;
            border-radius: 16px;
            display: flex;
            flex-direction: row;}
        #atelier {
        position: absolute;
        border-radius: 16px;
        width: 550px;
        Height:385px;}
        #Robert {padding: 40px;
        transition: transform 0.5s ease-in-out;}

.stat{margin-top:-6em;
    position: absolute;
    padding: 40px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    width: 80%;
    height: 8em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2em;}
    .chiffre{padding-top: 2em;
        display:flex;
    flex-direction: row;}
    .etiquette{  padding: 1em; 
        height: 1em;
        width:2em ;
        font-size: 1.2em;  
        background-color:#18A0FB;
        color: #061511;
        transform: rotate(-4.5deg);}

.statmobile{padding: 30px; 
    width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:white;}
        .chiffremobile{width: 50%;
        padding: 10px;}
        #lignemobile{background-color:#B0E246;
            height: 1px;           
             width: 60%;}
        

#materiel{width: 100%;
        }    
        #machine{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;}
            .electro{height: 10em;
                width: 20em;}
        .electromenager{text-align: center;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 12px;
            box-shadow: 0em 0.2em 0em rgba(0, 0, 0, 0.5);}
            
#temoignage{
    background-color: #D9F7FA;}
    #raport{
            padding-right:5% ;
             display: flex;
            justify-content: center;
            width: 90%;}
        .madame{padding-top: 1.5em;
                height: 35%;
                width: 40%;}
        .parler{height:10%;
                width: 40%;
                margin: -1.5em;
                padding-top: 1em;
                padding-bottom:3em ;
                padding-left: 1em;
                text-align: left;
                border-top-right-radius: 25px;
                border-bottom-right-radius:25px ;
                background-color: white;
                display: flex;
                flex-direction: column;}
                #ligne {background-color: #B0E246;
                        height: 0.1em;
                        width: 80%;}
                #signature{color: #B0E246;}

.prk{margin-top: 2em;
    width: 100%;}
    #pourquoi{display: flex;
            flex-direction: row;
        justify-content: center;}
        #prkG{height: 25%;
            width: 40%;
            text-align: left;}
            #textprk{margin-top: 2em;}
            .prkb{
                margin-top: 5em;
                height: 2.5em;
            border-radius: 5px;}
        #prkD{height: 25%;
        width: 40%;}
            .object{height: 35%;
                width: 30%;}

#prkmobile{background-color: #B0E246;
    display: flex;
    flex-direction: column;}

    #dechets{padding-top: 0.7em;
        height: 2em;
        width: 6em;
        background-color: #18A0FB;
        transform: rotate(-4.5deg);}    
    
.services{background-color: #B0E246;}
    #serv{margin-top: 3em;
        margin-bottom: 3em;
        padding-left: 10%;
        padding-right:10% ;
        height: 2em;        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
         width: 80%;}
        .serv{height: 130px;
            width: 274px;
            display: flex;
            padding: 20px 10px 20px 30px;
            justify-content: center;
            align-items: center;
            gap: 30px;
            background-color:white;
            color: #061511;
            border-radius: 8px;
            box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);}
        .picto{height: 3em;
                width: 3em;
                float: left;
                margin-top: 3em;}
    #boutique{padding-top: 3em;}
        h3{margin-left: 5%;}
        .carte{margin-left: 5%;
            margin-right: 15%;}
        li{margin-left: 5%;}

        @media (max-width: 1440px)  {
            
            
            
        }
        @media (min-width: 360px) {
            .menumobile{display: none;}
            .labelmobile{display: none;}
            #prkmobile{display: none;}
            #lignemobile{display: none;}
            .statmobile{display: none;}
            #prkmobile{display: none;}

    }


        @media (max-width: 360px) {
            body {
                width: 100%;
                margin: 0;
                padding: 0;}

            .menu{display: none;}
            #qualiRepar{display: none;}
            #atelier{display: none;}
            #texthero{display:none;}
            .etiquette1{display: none;}
            .stat{display: none;}
            .prk{display: none;}
        
            .hero{flex-direction: column;
                padding: 40px 30px;}

            #bero{padding-bottom: 0%;}

            #hero-left{display: flex;
            flex-direction: column;
            align-items: center;}

            #hero-right{margin: 0%;
                padding: 0%;
                display: flex;
                flex-direction: row;}

            #Robert{height: 328px;
                width: 228px;
                padding: 0%;}

            .statmobile{display: flex;
            flex-direction: column;}

            #machine{flex-direction: column;
                gap: 30px;}

            .butons{flex-direction: column;}
            .electromenager{background-color:  #D9F7FA;}

            #materiel{background-color: #B0E246;
            flex-direction: column;
            align-items: center;}
            
            }
            


        
            
